@media(max-width: 1200px) {
    .container {
        max-width: 960px;
    }
    
    .films__cards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 40px;
    }
    
    .films__item {
        margin: 0 auto;
    }
}

@media(max-width: 992px) {
    .container {
        max-width: 720px;
    }
    
    .cartoons .container {
        align-items: center;
    }
    
    .cartoons__desc {
        text-align: center;
    }
}

@media(max-width: 768px) {
    .container {
        max-width: 540px;
    }
    
    .header__nav {
        padding: 29px 0;
        position: relative;
    }
    
    .header__list {
        flex-direction: column;
        position: absolute;
        background: var(--black);
        width: 200px;
        padding: 20px;
        top: 100%;
        left: -200px;
        transition: 500ms;
        z-index: 999;
        border-radius: 0 0 20px 0;
    }
    
    .header__link {
        text-align: center;
    }
    
    .header__btn {
        display: flex;
    }
    
    .header__btn:focus + .header__list {
        left: 0;
    }
    
    .banner__title {
        font-size: 50px;
        line-height: 60px;
        text-align: center;
    }
    
    .banner__desc {
        text-align: center;
    }
    
    .banner__btns {
        justify-content: center;
    }
    
    .films .container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    
    .films__cards {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 576px) {
    .container {
        max-width: auto;
    }
    
    .banner {
        height: 75vh;
    }
    
    .banner__title {
        font-size: 35px;
        line-height: 45px;
    }
    
    .banner__desc {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 4;
        overflow: hidden;
    }
    
    .banner__btns {
        flex-direction: column;
        row-gap: 30px;
        align-items: center;
    }
}

@media(max-width: 400px){
    .banner__title {
        font-size: 29px;
        line-height: 40px;
    }
    
    .cartoons__logo, .cartoons__desc{
        margin-bottom: 25px;
    }
}