@import url(./fonts.css);

:root {
    --black: #000;
    --white: #fff;
    --linkHover: #ED8E00;
    --btn: #F18128;
    --btnHover: #040D1F;
    --title: #F18128;
    --font1: 'Comfortaa';
    --font2: 'Montserrat';
    --font3: 'Roboto';
    --bodyBg: #040D1F;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

ul {
    list-style: none;
}

.container {
    max-width: 1140px;
    width: 100%;
    padding: 0 15px;
    margin: 0 auto;
}

body {
    font-family: var(--font1);
    background: var(--bodyBg);
}

.ads {
    padding: 20px 0;
    background: linear-gradient(90.09deg, #3800AF 0%, #BF7204 97.52%, #C27500 100%, #C27500 100%);
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 24px;
}

.ads__desc {
    max-width: 166px;
    width: 100%;
    font-weight: 400;
    font-size: 16px;
    line-height: 18px;
    color: var(--white);
}